<div class="app">
  <h1 [ngStyle]="{ color: isRed ? 'red' : 'blue' }">{{ title }}</h1>
  <p>{{ description }}</p>
  <div>{{ 1 + 100 }}</div>
  <img [src]="imagePath" alt="" />
  <div [ngClass]="{ 'text-success': isRed }">Dynamic Class</div>
  <button
    (click)="onButtonClick($event, 'Button')"
    [ngClass]="{ buttonStyle: isRed }"
  >
    click button
  </button>
  <app-navbar />
  <main>
    <button (click)="handleShowFooter()">handle show footer button</button>
    <ul>
      <li *ngFor="let num of myNumbers; let i = index">{{ num }} -{{ i }}</li>
    </ul>
    <div [ngSwitch]="myFavDay">
      <p *ngSwitchCase="'SAT'">SAT Case</p>
      <p *ngSwitchCase="'FRI'">FRI Case</p>
      <p *ngSwitchDefault>Default Case</p>
    </div>
  </main>
  <div *ngIf="showFooter">
    <app-the-footer />
  </div>
</div>

<router-outlet />
